:root{
    --background: rgb(227, 227, 227);
    --box-shadow : 5px 5px 10px 0 rgb(166, 166, 166);
    --font-family : Verdana, Geneva, Tahoma, sans-serif;
    --transition : all ease-in-out 250ms;
    --content-padding : 50px 30px 70px 40px;
    --main-br : 45px;
}

body {
    margin: 0;
    font-family: var(--font-family);
}
.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}
.inner-container {
    
    background-color: white;
    padding: var(--content-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--main-br);
}
.inner-container  >h1{
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 550;
}
.inner-container > p{
    margin-bottom: 30px;
    color: gray;
}
.inner-container > button{
    width: 110px;
    height: 40px;
    padding: 10px;
    border-radius: 10%;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    transition: var(--transition);
}
.inner-container  > .cancel{
    background-color: rgb(171, 170, 170);
}
.inner-container > .cancel:hover{
    background-color:rgb(139, 139, 139) ;
}
.inner-container > .clear{
    background-color: rgba(255, 0, 0, 0.744);
    margin-left: 10px;
}
.inner-container > .clear:hover{
    background-color: rgb(255, 0, 0);
}
