
:root{
    --background: rgb(227, 227, 227);
    --box-shadow : 5px 5px 10px 0 rgb(166, 166, 166);
    --font-family : Verdana, Geneva, Tahoma, sans-serif;
    --transition : all ease-in-out 250ms;
    --content-padding : 50px 30px 70px 40px;
    --main-br : 45px;
}

body{
    margin: 0;
    font-family: var(--font-family);
}
.main_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
   
    
}
.sub-container{
    background-color: white;
    padding: 50px 50px 80px 50px;
    border-radius: 15%;
    box-shadow: var(--box-shadow);
}
.sub-container >  button{
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    width: 90px;
    height: 40px;
    margin-top: 12px;
}
.sub-container > p{
    color: rgb(109, 109, 109);
    line-height: 22px;
    max-width: 200px;
}
.cancel{
    background-color: rgb(171, 170, 170);
    transition: var(--transition);
}
.cancel:hover{
    background-color:rgb(135, 135, 135);
}
.remove{
    background-color: rgba(255, 0, 0, 0.746);
    transition: var(--transition);
}
.remove:hover{
    background-color: rgb(255, 0, 0);
}