

:root{
    --background: rgb(227, 227, 227);
    --box-shadow : 5px 5px 10px 0 rgb(166, 166, 166);
    --font-family : Verdana, Geneva, Tahoma, sans-serif;
    --transition : all ease-in-out 250ms;
    --content-padding : 50px 30px 70px 40px;
    --main-br : 45px;
}

body{
    margin: 0;
    font-family: var(--font-family);
}
.main-container{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.sub-container{
    background-color: white;
    padding: 60px 40px 60px 40px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sub-container > h2{
    font-size: 20px;
   
}
.sub-container > p{
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    
}
.sub-container > button{
   background-color: rgb(0, 123, 255);
   border: none;
   padding: 10px;
   margin-top: 20px;
   width: 90px;
   color: white;
   border-radius: 6px;
   box-shadow: 0 1px 5px .5px grey;
}

