

body{
    margin: 0;
    background-color: rgb(81, 81, 81);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.img > img{
    background-color: rgba(231, 231, 231, 0.607);
    border-radius: 10px;
}
.text-container{
    margin: 10px;
    margin-top: -10px;
}
.text-container > p{
    max-width: 300px;
    margin-top: -15px;
}
.buttons{
    margin-left: 10px;
    margin-bottom: 15px;
}
.buttons > button{
    border: none;
    background-color: black;
    border-radius: 5px;
}

.buttons > .cart{
    width: 250px;
    margin-right: 10px;
    font-size: 15px;
    padding: 11px;
    background-color: rgb(99, 98, 98);
    color: rgb(240, 240, 240);
}
.buttons > .heart{
    color: rgb(99, 98, 98);
    background-color: rgb(231, 231, 231);
    width: 45px;
    font-size: 20px;
    padding: 8px;
}